@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap'); */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

:root {
    --Primary: #fff;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    width: 13px;
    /* background: #171628; */
    border-left: 0px solid var(--tertiary);
    border-right: 0px solid var(--tertiary);
}

::-webkit-scrollbar-thumb {
    background: #3c2355;
    width: 0%;
    height: 35%;
    transition: 0.5 ease;
    cursor: pointer;
    /* border-radius: 12px; */
}

body {}

.body .homesection {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1508255139162-e1f7b7288ab7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* You might need to adjust the position depending on your design */
    background-position: center;
}

.body .homesection .nav {
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    /* border-radius: 36px; */
    backdrop-filter: blur(10px);
    padding: 0 1rem;
}

.body .homesection .nav .left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.body .homesection .nav .right {
    min-width: 50vw;
    color: var(--Primary);
}

.body .homesection .nav .right ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.body .homesection .nav .right ul a {
    text-decoration: none;
    color: inherit;

    font-weight: 500;

}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--Primary);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.body .homesection .nav img {
    width: 38px;
    margin-right: 0.6rem;
}

.body .homesection .main {
    padding: 1rem 4rem;
    color: var(--Primary);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.body .homesection .main span {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 36px;
    backdrop-filter: blur(10px);
    padding: 0.8rem;
    margin: 1rem 0;
    width: fit-content;
}

.body .homesection .main span p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.body .homesection .main h2 {
    font-size: 4.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.body .homesection .main h4 {
    font-size: 8.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.body .homesection .main button {
    padding: 16px 32px;
    background: none;
    border: 1px solid var(--Primary);
    border-radius: 36px;

}

.body .homesection .main button a {
    color: var(--Primary);
    text-decoration: none;
    font-size: 1rem;
}

.body .homesection .bottom {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body .homesection .bottom .boxcontent {
    display: flex;
    flex-wrap: wrap;
}

.body .homesection .bottom .boxcontent .box {
    max-width: 420px;
    padding: 1rem;
    margin: 1rem;
    color: var(--Primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .homesection .bottom .boxcontent .box p {
    margin-right: 1rem;
}

.body .homesection .bottom .boxcontent .box i {
    padding: 0.4rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 36px;
    backdrop-filter: blur(10px);
    margin-left: 1rem;
}

.body .homesection .bottom .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.body .homesection .bottom .icons i {
    color: var(--Primary);
    padding: 0.4rem;
    margin: 0.1rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 36px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--Primary);
    transition: all 0.2s ease-in-out;
}

.body .homesection .bottom .icons i:hover {
    background-color: #fff;
    color: #000;
}

.body .category {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.body .category h2 {
    text-align: center;
    margin: 1rem;
    color: #017dc4;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    font-size: 2rem;
}

.body .category .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 0 4rem; */
    max-width: 90vw;
}

.body .category .main .img img {
    width: 480px;
    max-height: 180px;

    margin: 1rem;
}

.body .category .main .img {
    position: relative;
    margin: 1rem;
}

.body .category .main .img img::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    /* width: 50%;
    height: 50%; */
    background-color: #017dc4;
    /* z-index: 1; */
}

.body .category .main .img::before {
    content: '';
    position: absolute;
    /* inset: 0; */
    /* left: -5px; */
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.body .category .main .img::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.92);
    filter: blur(20px);
}

.body .category .main .img:hover::before {
    transform: rotate(-90deg) scaleX(0.47) scaleY(2.34);
}

.body .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    margin: 1rem;
}

.body .banner img {
    /* max-height: 30vh; */
    max-width: 80vw;
    box-shadow: 0 15px 35px rgba(218, 7, 246, 0.2);
    
    position: relative;
}
.container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
  }
  .container  .view{
    /* text-align: center; */
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container  .view::before{
    position: absolute;
    background: rgba(47,134,166,.8);
    content: "";
    display: block;
    height: 2px;
    left: 50;
    position: absolute;
    top: 50%;
    width: 40%;
    z-index: -10;
}
.container  .view::after{
      z-index: -10;
    background: rgba(47,134,166,.6);
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 50;
    top: 50%;
    width: 40%;
  }
  .container  .view button{
    padding: 16px 32px;
    background: none;
    border: 1px solid black;
    border-radius: 36px;
    margin: 1rem;
    backdrop-filter: blur(10px);
    z-index: 1;
  }
  .swiper h2{
    padding: 1rem;
    font-size: 2rem;
    /* text-align: center; */
    /* margin: 1rem; */
    color: #017dc4;
   
   
  }
  .slide-container {
    margin: 0 30px;
    overflow: hidden;
  }
  .card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    /* padding: 0.1rem; */
  }
  .card .image-box {
    height: 200px;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
  }
  .card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .profile-details{
    display: flex;
    flex-direction: column;
  }
  .profile-details .name {
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 800;
  }
  .profile-details .head{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .profile-details .head .left{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-details .head .right{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-details .head .left i{
    padding: 0.4rem;
  }
  .profile-details .head .right i{
    padding: 0.4rem;
  }
  .profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
  }
  .swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    /* background: #fff; */
    border-radius: 50%;
    margin: 1rem;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 18px;
  }
  .swiper-pagination-bullet {
    background-color: #000;
  }
  @media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }
.body .doubt{
    min-width: 100vw;
    min-height: 34vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00dbde;
}
.body .doubt .doubtbox{
    margin: 2rem 0;
    background-color: aliceblue;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
}
.body .doubt .doubtbox.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body .doubt .doubtbox .left .animation{
    margin: 0 5rem;
   width: 300px;
   max-width: 30vw;
}

.body .doubt .doubtbox .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.body .doubt .doubtbox .right h2{
    color: #2f86a6;
    font-size: 35px;
    font-weight: 600;
}
.body .doubt .doubtbox .right p{
    font-size: 18px;
    font-weight: 600;
}
.body .doubt .doubtbox .right button{
    padding: 8px 16px;
    background: none;
    border: 1px solid black;
    border-radius: 36px;
    margin: 1rem;
}
.body .qualitycard{
min-height: 60vh;
width: 100vw;
/* padding: 1rem; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.body .qualitycard h2{
    text-align: center;
    margin: 1rem;
    color: #017dc4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
}
.body .qualitycard .cardscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    /* margin: 1rem; */
}
.body .qualitycard .cardscontainer .qcard{
    max-width: 280px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem  0.4rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 36px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    /* background-color: #00dbde; */
}
/* .body .qualitycard .cardscontainer .qcard::after{
    content: '';
    position: absolute;
    top:15%;
    left: 50;
    background-color: #ceb2fc;
    width: 10%;
    height: 10%;
    z-index: -1;
    border-radius: 36px;
    transition: all 0.4s ease-in-out;
    
}
.body .qualitycard .cardscontainer .qcard:hover::after{
    width: 200%;
    height: 200%; 
} */
.body .qualitycard .cardscontainer .qcard h2{
    color: #017dc4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}
.body .qualitycard .cardscontainer .qcard .animation{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50rem;
    z-index: 10;
    margin: 1rem 0;
}
.description{
    min-height: 80vh;
    width: 100vw;
    margin: 2rem 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
}
.description .contbox{
    width: 90vw;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.description .col{
    display: flex;
    flex-direction: column;
}
.description .contbox{
    max-width: 60vw;
}
.description .contbox .bar{
    display: flex;
 
}
.description .contvbox{
    padding: 1rem;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

}
.description .contvbox img{
 /* max-width: 280px; */
 max-height: 180px;
 border-radius: 2rem;
}
.description .contbox .bar .barhead{
    padding: 0.4rem;
    color: #00dbde
}
.description .contbox .bar .barhead{
    padding: 0.4rem;
    color: #000000;
    border-radius: 2rem;
}
.description .contbox .bar .xs{
   /* border: 1px solid black; */
   background-color: #017dc4;
   color: #fff;
}
.description .contbox .bar .xsz{
   border: 1px solid rgb(254, 3, 3);
}
.description .contvbox input{
    padding: 0.5rem;
    width: 70%;
    border-radius: 1rem;
    border: 1px solid grey;
}
.description .contvbox button{
    width: 70%;
    padding: 8px 16px;
    border-radius: 36px;
    border: 0px;
    outline: none;
    color: #fff;
    background-color: orange;
}
/* Footer css */
.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  .pg-footer a{
    text-decoration: none;
    color: #fff;
  }
  
  .footer {
      background-color: #47a985;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
      font-size: 18px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #47a985;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
      border: 1px solid #fff;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  